.table {
	padding: 24px;
	flex-basis: 60%;

	th {
		font-weight: bold;
	}
}

.tableRow {
	cursor: pointer;
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-ms-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;

	&:hover {
		background-color: #e7e7e7;
	}
}
